@using AntDesign
@using System.Reflection
@using Constants
@inherits LayoutComponentBase

<PageTitle>Postboy</PageTitle>

<div class="page" style="height: 100%;">
    <Layout>
        <Header>
            <Title Style="color:white;margin-top:6px;">
                Postboy
            </Title>
        </Header>
        <Layout>
            <Sider Style="background:white;" Width="@Constants.MenuWidth">
                <NavMenu />
            </Sider>
            <Content Style="padding: 20px;">
                @Body
            </Content>
        </Layout>
        <Footer Style="text-align:center;background:#001529;color:white;">
            Version @Assembly.GetExecutingAssembly().GetName().Version.ToString()
        </Footer>
    </Layout>
</div>
